body{
  background-color: rgb(255, 255, 255);
}
  

h1{
  text-decoration-color: black;
  text-align: center;
}

.container{
  display: flex;
  background-color: rgb(245, 245, 248);
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 50px auto;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWZHbfES8ZC3ErMFXEg1bUXSrG5AouuOM4uw&s");
  text-transform: lowercase;
  ;
  
}
.container div{
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  background-position: center;
}
.item1{
  background-color: green;
  
}
.item2{
  background-color: blue;
}
.item3{
  background-color: yellow;
}
.item4{
  background-color: green;
}
.item5{
  background-color: lightblue;
}
.item6{
  background-color: red;
}