.container{
  display:grid;
  background-size: cover;
  grid-template-areas:
  "header header"
  "menu content"
  "footer footer";
  grid-template-columns: 1fr 3fr;
  gap:3px;
  background-image: url("https://altoastral.joaobidu.com.br/media/uploads/legacy/2016/10/ilusao-otica-psicodelicas-7.jpg");
  padding:5px;
}
.container div{
background-color: rgb(250, 245, 245);
padding:10px;
}

.container div.header{
  grid-area: header;
  text-align: center;
}
.container div.menu{
  grid-area: menu;
}
.container div.content{
  grid-area: content
}
.container div.footer{
  grid-area: footer;
  text-align: center;
}
h2{
  text-align: left;
  font-family:'Times New Roman', Times, serif;
}
img{
  border-radius: 50%;
  background-position: left;
  width: 300px;
  height: 250px;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
