body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ecec;
}
h1{
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

p{
    color: #666666;
    line-height: 1.6;
    margin: 20px;
    font-size: 16px;}